numpy==1.18.2
google_auth_oauthlib==0.4.1
pandas==1.0.3
reportlab==3.5.51
nba_api==1.1.9
matplotlib==3.3.0
docx==0.2.4
requests==2.22.0
streamlit==0.73.1
beautifulsoup4==4.9.3
docx2pdf==0.1.7
google_api_python_client==1.12.8
Pillow==8.1.0
protobuf==3.14.0
